<button type="button" class="btn btn-primary my-3" (click)="router.navigate(['/employee','create'])">Add
    Employee</button>

<!-- <ul class="list-group">
    <a class="list-group-item" [routerLink]="['/employee','update',emp.id]" *ngFor="let emp of employees">{{
        emp.employeeName }} - {{ emp.companyName }} - {{ emp.departmentName }}</a>
</ul> -->

<div class="container">
    <div class="row">
        <div class="col">
            <h2>Employee List</h2>
            <ul class="list-group">
                <li class="list-group-item" *ngFor="let emp of employees"
                    [routerLink]="['/employee', 'update', emp.id]">
                    <div class="row">
                        <div class="col-4">
                            <a>{{ emp.employeeName }}</a>
                        </div>
                        <div class="col-4">
                            <span>{{ emp.companyName }}</span>
                        </div>
                        <div class="col-4">
                            <span>{{ emp.departmentName }}</span>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>