<form [formGroup]="employeeForm" class="mt-5">
    <div class="row">
        <div class="col-md-9">
            <mat-form-field style="width: 100%;">
                <mat-label>Enter Employee Name</mat-label>
                <input matInput placeholder="example" formControlName="name" required>
                <mat-error *ngIf="employeeForm.get('name')?.hasError('required')">Employee name is
                    required.</mat-error>
            </mat-form-field>
        </div>

        <div class="col-md-9">
            <mat-form-field style="width: 100%;">
                <mat-label>Company</mat-label>
                <mat-select formControlName="company" (selectionChange)="getDepartmentByCompanyId($event.value)">
                    <mat-option *ngFor="let com of companyList" [value]="com.id">{{com.companyName}}</mat-option>
                </mat-select>
                <mat-error *ngIf="employeeForm.get('company')?.hasError('required')">Company is
                    required.</mat-error>
            </mat-form-field>
        </div>

        <div class="col-md-9">
            <mat-form-field style="width: 100%;">
                <mat-label>Department</mat-label>
                <mat-select formControlName="department">
                    <mat-option *ngFor="let dept of departmentList"
                        [value]="dept.id">{{dept.departmentName}}</mat-option>
                </mat-select>
                <mat-error *ngIf="employeeForm.get('department')?.hasError('required')">Department is
                    required.</mat-error>
            </mat-form-field>
        </div>



        <div>
            <button type="button" class="btn btn-success me-3" [disabled]="!employeeForm.valid"
                (click)="createEmployee()">{{this.formType}}</button>
            <button type="button" class="btn btn-secondary" (click)="router.navigate(['/employee'])">Cancel</button>
        </div>

    </div>


</form>